@import 'colors.scss';

body {
  font-family: 'Open Sans', sans-serif;
  &.using-mouse :focus:not(:disabled) { 
      outline: none;
      -webkit-box-shadow: none;
              box-shadow: none;
  }
  :focus:not(:disabled) {
    outline: none;
    -webkit-box-shadow: 0 0 0 .2rem $focus;
            box-shadow: 0 0 0 .2rem $focus;
  }
}


p.multiple-columns  {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-width: 12em;
          column-width: 12em;
  -webkit-column-gap: 2em;
          column-gap: 2em;
}

.hidden {
  display: none;
}

.min-vh-85 {
  min-height: 85vh;
}

.btn-outline-success {
  color: $btn-main;
  border-color: $btn-main;
}

.btn-outline-success:hover {
  color: $btn-font-hover;
  background-color: $btn-main;
  border-color: $btn-main;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: $btn-main;
  background-color: transparent;
  border-color: $btn-main;
}

form[name=signInForm]{
  a{
    color: $btn-main;
    &:hover {
      color:darken($color: $btn-main, $amount: 7%);
    }
  }
}