<!doctype html>
<html lang="en">

<head>
  <title><%=title%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#333" />
  <meta name="description" content="Mini library">
  <meta name="keywords" content="library, books">
  <meta name="author" content="Karol Bulwin">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS-->
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="d-flex justify-content-between flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <%for(let i=0; i<nav.length; i++) {%>
            <li class="nav-item">
              <a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
            </li>
            <%}%>
            <li class="nav-item">
              <a class="nav-link text-warning" href='/auth/logout'>Logout</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
  
    <main>
      <div class="container-fluid py-3">
        <form name="singInForm" action="/auth/signIn" method="post">
          <div class="form-group">
            <label for="sing-in-username">Name</label>
            <input type="text" class="form-control" name="username" id="sing-in-username" aria-describedby="sing-in-name" placeholder="Your name...">
            <small id="sing-in-name" class="form-text text-muted">We'll never share your name with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="sing-in-password">Password</label>
            <input type="password" class="form-control" name="password" id="sing-in-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-outline-success">Sign In</button>
        </form>
      </div>

      <div class="container-fluid py-3">
        <form name="singInForm" action="/auth/signUp" method="post">
          <div class="form-group">
            <label for="sing-up-username">Name</label>
            <input type="text" class="form-control" name="sing-up-username" id="sing-up-username" aria-describedby="sing-up-name" placeholder="Your name...">
            <small id="sing-up-name" class="form-text text-muted">We'll never share your name with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="sing-up-password">Password</label>
            <input type="password" class="form-control" name="sing-up-password" id="sing-up-password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-outline-success">Sign Up</button>
        </form>
      </div>

    </main>

    <footer class="d-flex justify-content-center">
      <p class="my-0 small">Created by: Karol Bulwin</p>
    </footer>
  </div>
  <!-- script references -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>